{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "plugins": ["@typescript-eslint", "react"],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "18.0.0"
    }
  },
  "rules": {
    "semi": [2, "never"], //行位分号 never、always
    "react/jsx-uses-react": 2, //jsx必须引入React 但是报警，配置这个
    "quotes": [2, "single"],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-ts-comment": 0
  }
}
